body{
    background: #1a1a1a;

    font-family: "Arial";
}

h1, h2, h3, h4, h5, h6, p{
    color: #ffffff;
}

.on-bottom{
    z-index: -9999;
}

.on-top{
    z-index: 9999;
}

.round-corner{
    border-radius: 30px;
}

.absolute{
    position: absolute;
}

.relative{
    position: relative;
}

.full-size{
    width: 95vw;
    height: 95vh;
}

.max-width{
    width: 100%;
}

.max-height{
    height: 100%;
}

.center-horizontal{
    display: flex;
    justify-content: center;
}

.center-vertical{
    display: flex;
    align-items: center;
}

.center{
    display: flex;
    align-items: center;
    justify-content: center;
}

.center-text{
    text-align: center;
}

.left{
    display: flex;
    justify-content: start;
}

.bottom{
    display: flex;
    align-items: end;
}

.right{
    display: flex;
    justify-content: end;
}

.bold{
    font-weight: bold;
}

.red{
    color: #ff0f0f;
}

.scroll{
    overflow-x: auto;
    padding-bottom: 10px;
}

.overflow-hidden{
    overflow: hidden;
}


.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 20px;
}

.flex{
    display: flex;
}

.background-image{
    width: 100vw;
    object-fit: contain;
    transform: translateY(-300px);
    opacity: 0.4;
}

.pointer{
    cursor: pointer;
}

.header-size{
    width: 95vw;
    height: 80px;
}

@media (max-width: 1340px) {
    .grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 1020px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 680px) {
    .grid {
        grid-template-columns: repeat(1, 1fr);
    }
}