body{
    background: #1a1a1a;

    font-family: "Arial";
}

h1, h2, h3, h4, h5, h6, p{
    color: #ffffff;
}

.on-bottom{
    z-index: -9999;
}

.round-corner{
    border-radius: 30px;
}

.absolute{
    position: absolute;
}

.relative{
    position: relative;
}

.full-size{
    width: 95vw;
    height: 95vh;
}

.max-width{
    width: 100%;
}

.max-height{
    height: 100%;
}

.center-horizontal{
    display: flex;
    justify-content: center;
}

.center-vertical{
    display: flex;
    align-items: center;
}

.center{
    display: flex;
    align-items: center;
    justify-content: center;
}

.left{
    display: flex;
    justify-content: start;
}

.right{
    display: flex;
    justify-content: end;
}

.bold{
    font-weight: bold;
}

.red{
    color: #ff0f0f;
}

.scroll{
    overflow-x: auto;
    padding-bottom: 10px;
}

.overflow-hidden{
    overflow: hidden;
}


.grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 20px;
    align-items: center;
    justify-items: center;
}

.flex{
    display: flex;
}

.pointer{
    cursor: pointer;
}

.header-size{
    width: 95vw;
    height: 80px;
}

.main-grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 0fr);
    gap: 10px;
}

@media (max-width: 570px) {
    .main-grid {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(4, 0fr);
        gap: 10px;
    }
}

@media (max-width: 450px) {
    .main-grid {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 0fr);
        gap: 10px;
    }
}