.register-button{
    display: flex;
    width: 300px;
    height: 50px;
    margin: 2px;

    border: 3px solid transparent;

    cursor: pointer;
    border-radius: 10px;

    font-size: 25px;
}



.main-field{
    width: 95vw;
    height: 80vh;
    min-height: 400px;
    background: rgba(0, 0, 0, 0);
    overflow: hidden;
    position: relative;
}

.main-field-text{
    width: 80%;
    height: 80%;
}

.main-field-image{
    height: 800px;
    transform: translateY(-170px);
    opacity: 1;
}


.nav-button{
    display: flex;
    width: 170px;
    height: 40px;
    margin: 2px;

    border: 3px solid transparent;

    background: linear-gradient(to bottom, #dc4201, #fd922d), linear-gradient(to bottom, #c5937e, #1f5043);

    cursor: pointer;
    border-radius: 100px;

    font-size: 25px;
}

.nav-button{
    display: flex;
    width: 170px;
    height: 40px;

    background: linear-gradient(#000000, #000000) padding-box,
    linear-gradient(to right, #dc4201 50%, #fd922d) border-box;

    border-radius: 50px;
    border: 3px solid transparent;

    cursor: pointer;
    border-radius: 50px;
}

.ui-button{
    display: flex;
    width: 200px;
    height: 40px;
    margin: 2px;

    border: 3px solid transparent;

    background: linear-gradient(#000000, #000000) padding-box,
    linear-gradient(to right, #dc4201 50%, #fd922d) border-box;

    cursor: pointer;
    border-radius: 100px;

    font-size: 25px;
}

.game-button-default{
    display: flex;
    width: 140px;
    height: 50px;

    margin: 5px;

    border: 3px solid transparent;

    cursor: pointer;
    border-radius: 10px;

    font-size: 25px;
}

.register-input{
    width: 300px;
    height: 30px;
    font-size: 20px;
    border: solid;
    border-radius: 10px;
    border-color: transparent;
    padding-left: 10px;
}

.prim-color{
    color: #ffa600;
}

.prim-color-background{
    background: #ffa600;

}

.shadow{
    box-shadow: 0px 0px 10px #ff8500;
}


.white-background{
    background: #ffffff;
}

.check-box{
    width: 30px;
    height: 30px;
}

.check-box-label{
    margin-left: 10px;
    font-size: 20px;
}

.check-view{
    margin-top: 10px;
    display: flex;

}

.lang-border{
    display: flex;
    padding: 2px;
    width: 70px;
    height: 30px;
    border: solid;
    border-radius: 50px;
    border-color: #5cf0ff;
}

.white{
    color: #ffffff;
}

.black{
    color: #000000;
}

.inforge-icon{
    height: 60px;
}

.inforge-text-icon{
    height: 60px;
    display: flex;
}

.inforge-text{
    width: 95vw;
    max-width: 400px;
    object-fit: contain;
}

.raute{
    width: 100px;
    object-fit: contain;
}

.stats-raute{
    width: 100px;
    object-fit: contain;
}

.stats-headline{
    font-size: 4em;
}

.main-card{
    width: 40%;
    padding: 15px;
    background: rgba(0, 0, 0, 0.5);
}

.project-box{
    display: flex;
}
.project-box-mobile{
    display: none;
}

.project-1{
    transform: translate(100px, -100px)
}

.project-box-left{
    width: 35vw;
    height: 700px;
    border-image: linear-gradient(#DC4201, #FD922D) 30;
    border-width: 2px;
    border-style: solid;
}

.project-box-right{
    width: 55vw;
    height: 700px;
    border-image: linear-gradient(#DC4201, #FD922D) 30;
    border-width: 2px;
    border-style: solid;
}

.project-box-half{
    width: 45vw;
    height: 700px;
    border-image: linear-gradient(#29414d, #072670) 30;
    border-width: 2px;
    border-style: solid;
}

.project-box-half-mobile{
    width: 95vw;
    border-image: linear-gradient(#29414d, #072670) 30;
    border-width: 2px;
    border-style: solid;
}

.project-space{
    height: 26vw;
}

.project-space-under{
    height: 2vw;
}

.project-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.suggest{
    display: flex;
}

.suggest-mobile{
    display: none;
}

.stats-space{
    height: 800px;
}

.stats-grid-dicebluff{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10vw;
}

.stats-grid-framegame{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10vw;
}

.stats-text{
    font-size: 4em;
}

.stats{
    width: 90vw;
    height: 150px;
    background: rgba(0, 157, 255, 0.1);
}

.infocard-headline{
    font-size: 1.5em;
}

.infocard-button{
    display: flex;
    width: 200px;
    height: 40px;
    margin: 2px;

    border: 3px solid transparent;

    background: rgba(41, 57, 96, 0.5);

    cursor: pointer;
    border-radius: 100px;

    font-size: 25px;
}

.infocard-text{
    font-size: 0.9em;
}

.infocard{
    background: rgba(29, 33, 40, 0.5);
    border-radius: 20px;
    width: 250px;
    height: 360px;
}

.main-field-text-block{
    width: 50%;
}

.main-field-content{

}

.main-field-logo{

}





.mobile-nav{
    width: 600px;
    height: 350px;
    background: #333333;
}

.mobile-nav-module{
    width: 100%;
    height: 70px;
}

.mobile-nav-module:hover{
    width: 100%;
    height: 70px;
    background: linear-gradient(to bottom, #dc4201, #fd922d);
}

.menu-image{
    display: none;
    width: 50px;
}

.main-card-button-pos{
    height: auto;
}

.gradient-box {
    border-image: linear-gradient(#DC4201, #FD922D) 30;
    border-width: 4px;
    border-style: solid;
}

.card-align{
    display: flex;
    justify-content: center;
}

.menu-nav{
    display: flex;
}

@media (max-width: 1130px) {
    .main-field-image{
        opacity: 0;
    }
    .main-field{
        display: flex;
        justify-content: center;
        height: 200px;
    }
    .main-field-text-block{
        width: 80%;
    }
    .main-field-content{
        text-align: center;
    }

    .main-field-logo{
        display: flex;
        justify-content: center;
    }
}

@media (max-width: 1100px) {

    .project-box-mobile{
        width: 60vw;
        display: flex;
    }
    .project-box{
        display: none;
    }

    .project-box-right{
        width: 95vw;
        height: auto;
    }
}

@media (max-width: 980px) {
    .stats-grid-dicebluff{
        gap: 5vw;
    }

    .stats-grid-framegame{
        gap: 5vw;
    }
}

@media (max-width: 750px) {
    .suggest{
        display: none;
    }

    .suggest-mobile{
        display: flex;
    }
}

@media (max-width: 750px) {
    .main-card{
        width: 90vw;
        margin-bottom: 20px;
    }
    .card-align{
        display: block;
    }

    .stats-space{
        height: 50px;
    }
}

@media (max-width: 700px) {
    .menu-image{
        display: flex;
    }

    .menu-nav{
        display: none;
    }

    .inforge-text-icon{
        display: none;
    }

    .stats-text{
        font-size: 10vw;
    }
}

@media (max-width: 600px) {
    .mobile-nav{
        width: 95vw;
    }
}

@media (max-width: 600px) {

    .main-field-text-block{
        width: 95%;
    }
}

@media (max-width: 550px) {
    .project-grid{
        grid-template-columns: repeat(1, 1fr);
    }

    .infocard{
        width: 90vw;
    }

    .project-box-right{
        height: 1700px;
    }

    .project-space-under{
        height: 1000px;
    }

    .stats-raute{
        width: 15vw;
    }
    .stats-headline{
        font-size: 10vw;
    }
}

@media (max-width: 500px) {
    .main-field{
        height: 520px;
    }
}
