.register-button{
    display: flex;
    width: 300px;
    height: 50px;
    margin: 2px;

    border: 3px solid transparent;

    cursor: pointer;
    border-radius: 10px;

    font-size: 25px;
}

.nav-button{
    display: flex;
    width: 150px;
    height: 40px;
    margin: 2px;

    border: 0px solid transparent;

    background: linear-gradient(to bottom, #FE4F06, #F37601);

    cursor: pointer;
    border-radius: 100px;

    font-size: 25px;
}

.game-button-default{
    display: flex;
    width: 140px;
    height: 50px;

    margin: 5px;

    border: 3px solid transparent;

    cursor: pointer;
    border-radius: 10px;

    font-size: 25px;
}

.register-input{
    width: 300px;
    height: 30px;
    font-size: 20px;
    border: solid;
    border-radius: 10px;
    border-color: transparent;
    padding-left: 10px;
}

.prim-color{
    color: #ffa600;
}

.prim-color-background{
    background: #ffa600;

}

.shadow{
    box-shadow: 0px 0px 20px #000000;
}


.white-background{
    background: #ffffff;
}

.check-box{
    width: 30px;
    height: 30px;
}

.check-box-label{
    margin-left: 10px;
    font-size: 20px;
}

.check-view{
    margin-top: 10px;
    display: flex;

}

.lang-border{
    display: flex;
    padding: 2px;
    width: 70px;
    height: 30px;
    border: solid;
    border-radius: 50px;
    border-color: #5cf0ff;
}

.inforge-icon{
    width: 400px;
}