.register-button{
    display: flex;
    width: 300px;
    height: 50px;
    margin: 2px;

    border: 3px solid transparent;

    cursor: pointer;
    border-radius: 10px;

    font-size: 25px;
}



.main-field{
    width: 95vw;
    height: 80vh;
    background: #000000;
    overflow: hidden;
    position: relative;
}

.main-field-text{
    width: 80%;
    height: 80%;
}

.main-field-image{
    height: 140vh;
    transform: translateY(-30vh);
}


.nav-button{
    display: flex;
    width: 170px;
    height: 40px;
    margin: 2px;

    border: 0px solid transparent;

    background: linear-gradient(to bottom, #dc4201, #fd922d);

    cursor: pointer;
    border-radius: 100px;

    font-size: 25px;
}

.ui-button{
    display: flex;
    width: 200px;
    height: 40px;
    margin: 2px;

    border: 0px solid transparent;

    background: linear-gradient(to bottom, #dc4201, #fd922d);

    cursor: pointer;
    border-radius: 100px;

    font-size: 25px;
}

.game-button-default{
    display: flex;
    width: 140px;
    height: 50px;

    margin: 5px;

    border: 3px solid transparent;

    cursor: pointer;
    border-radius: 10px;

    font-size: 25px;
}

.register-input{
    width: 300px;
    height: 30px;
    font-size: 20px;
    border: solid;
    border-radius: 10px;
    border-color: transparent;
    padding-left: 10px;
}

.prim-color{
    color: #ffa600;
}

.prim-color-background{
    background: #ffa600;

}

.shadow{
    box-shadow: 0px 0px 10px #ff8500;
}


.white-background{
    background: #ffffff;
}

.check-box{
    width: 30px;
    height: 30px;
}

.check-box-label{
    margin-left: 10px;
    font-size: 20px;
}

.check-view{
    margin-top: 10px;
    display: flex;

}

.lang-border{
    display: flex;
    padding: 2px;
    width: 70px;
    height: 30px;
    border: solid;
    border-radius: 50px;
    border-color: #5cf0ff;
}

.white{
    color: #ffffff;
}

.black{
    color: #000000;
}

.inforge-icon{
    width: 300px;
}

.inforge-text{
    width: 250px;
    object-fit: contain;
}

.raute{
    width: 100px;
    object-fit: contain;
}

.main-card{
    padding: 15px;
    background: #000000;
}

.gradient-box {
    border-image: linear-gradient(#DC4201, #FD922D) 30;
    border-width: 4px;
    border-style: solid;
}